.container {
    margin: 50px 0;
    padding-left: 85px;
}

.card {
    margin: 0 2% !important;
    width: 250px;
}

.infected {
    border-bottom: 10px solid rgba(238, 0, 0, 0.5);
}

.recovered{
    border-bottom: 10px solid rgba(0, 238, 20, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 770px) {
    .container {
        padding-right: 85px;
    }
    .card {
        margin: 6% 0 !important;
    }
}